/**********************************************
 From https://github.com/fiveisprime/css-snow
 which was based on the CSS3 snow demo created
 by Estelle Weyl (@estellevw) available at:
 http://www.standardista.com/sxsw/
***********************************************/

.zensnow-cloud {
  position: fixed; 
  overflow: hidden; 
  width: 100%; 
  height: 101.5%; 
  height: calc(100% + 10px); 
  top: -10px; 
  z-index: 9999; 
  pointer-events: none;
}

.zensnow {
  position: absolute;
  display: inline-block;
  border: 1px solid #fff;
  border-width: 1px 0 1px 0;
  height: 1px;
  width: 1px;
  opacity: 0.5;
  z-index: -1;
  border-radius: 100%;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 3px;
}

.zensnow::before,
.zensnow::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 250%;
  height: 5%;
  border: 1px solid rgba(0, 0, 0, 0.150);
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 3px;
}
.zensnow::before {
  left: -100%;
}
.zensnow::after {
  left: -75%;
  transform: rotate(90deg);
}

.zensnow.size-0 {
  height: 1px;
  width: 1px;
  transform-origin: -30px 0;
}
.zensnow.size-1 {
  height: 2px;
  width: 2px;
  transform-origin: left -30px;
}
.zensnow.size-2 {
  height: 3px;
  width: 3px;
  transform-origin: left -30px;
}

.zensnow.opac-0 { opacity: 0.1 }
.zensnow.opac-1 { opacity: 0.3 }
.zensnow.opac-2 { opacity: 0.7 }

@keyframes snowfall {
  0%   { transform: translateY(0)     rotate(0deg) }
  100% { transform: translateY(102vh) rotate(360deg) }
}
.zensnow.speed-0 {
  animation: snowfall 10.7s linear 2s infinite;
  opacity: 0.8;
}
.zensnow.speed-1 {
  animation: snowfall 7.1s linear 1s infinite;
}
.zensnow.speed-2 {
  animation: snowfall 6.6s linear 0s infinite;
}

.zensnow.delay-0 { animation-delay: 3.4s }
.zensnow.delay-1 { animation-delay: 1.5s }
.zensnow.delay-2 { animation-delay: 4.6s }
.zensnow.delay-3 { animation-delay: 6.3s }
.zensnow.delay-4 { animation-delay: 0.4s }
.zensnow.delay-5 { animation-delay: 8.1s }

.zensnow.size-2.delay-0 { animation-timing-function: ease-out }
.zensnow.size-2.delay-1 { animation-timing-function: ease-in-out } 

.zensnow.size-1.delay-0 { opacity: 0.3 }
.zensnow.size-1.delay-1 { opacity: 0.5 }
.zensnow.speed-2.delay-0 {
  opacity: 0.6;
  animation-timing-function: ease-in;
}
.zensnow.speed-2.delay-1 { opacity: 0.7 }
